@model IEnumerable<ProyectoSC_601.Entities.ClienteEnt>
@{
    ViewBag.Title = "GestionCliente";
    Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
    <link href="~/Assets/css/perfilClienteStyle.css" rel="stylesheet">

}
<div class="container mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <br>
            <br>
            <br>
            <div class="card" style="margin-bottom:80px;">
                <div class="card-body">
                    <h4 class="card-title">Clientes Registrados</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="background-color:#eeeeee";>ID</th>
                                    <th style="background-color:#eeeeee";>Cédula</th>
                                    <th style="background-color:#eeeeee";>Nombre Completo</th>
                                    <th style="background-color:#eeeeee";>Correo Electrónico</th>
                                    <th style="background-color:#eeeeee";>Dirección Exacta</th>
                                    <th style="background-color:#eeeeee";>Teléfono</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID_Cliente</td>
                                        <td>@item.Ced_Cliente</td>
                                        <td>@($"{item.Nombre_Cliente} {item.Apellido_Cliente}")</td>
                                        <td>@item.Correo_Cliente</td>
                                        <td>@item.Direccion_Cliente</td>
                                        <td>@item.Tel_Cliente</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
