@model ProyectoSC_601.Entities.InventarioEnt

@{
    ViewBag.Title = "RegistrarInventario";
    Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
}

<br>
<br>

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <br>
                <h2>Registrar un item de inventario</h2>

                @if (ViewBag.MensajeUsuario != null)
                {
                    <div class="alert alert-danger" role="alert" style="text-align:center">
                        @ViewBag.MensajeUsuario
                    </div>
                }

                @using (Html.BeginForm("RegistrarInventario", "Inventario", FormMethod.Post, new { @class = "pt-3" }))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control form-control-lg", @placeholder = "Código", @type = "text" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-lg", @placeholder = "Nombre", @type = "text" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Style, new { @class = "form-control form-control-lg", @placeholder = "Estilo", @type = "text" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Color, new { @class = "form-control form-control-lg", @placeholder = "Color", @type = "text" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control form-control-lg", @placeholder = "Descripción", @type = "text" })
                    </div>
                    <br />
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">REGISTRAR</button>
                        <span class="px-2"></span>
                        <a href="@Url.Action("ConsultaInventario", "Inventario")" class="btn btn-danger">
                            <i class="fa fa-arrow-left"></i> Volver
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

