

@model ProyectoSC_601.Entities.ProveedorEnt

@{
    ViewBag.Title = "RegistrarProveedor";
    if (Session["Rol_Cliente"] != null && (int)Session["Rol_Cliente"] == 1)
    {
        Layout = "~/Views/Shared/_Layout_deAdmin.cshtml";
    }
    else if (Session["Rol_Cliente"] != null && (int)Session["Rol_Cliente"] == 2)
    {
        Layout = "~/Views/Shared/_Layout_Login.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<br>
<br>

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <br>
                <h2>Registrar un proveedor</h2>

                @if (ViewBag.MensajeUsuario != null)
                {
                    <div class="alert alert-danger" role="alert" style="text-align:center">
                        @ViewBag.MensajeUsuario
                    </div>
                }

                @using (Html.BeginForm("RegistrarProveedor", "Proveedor", FormMethod.Post, new { @class = "pt-3" }))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Nombre_Proveedor, new { @class = "form-control form-control-lg", @placeholder = "Nombre", @type = "text" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Apellido_Proveedor, new { @class = "form-control form-control-lg", @placeholder = "Apellido", @type = "text" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Cedula_Proveedor, new { @class = "form-control form-control-lg", @placeholder = "Cedula", @type = "text" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Direccion_Exacta, new { @class = "form-control form-control-lg", @placeholder = "Direccion Exacta", @type = "text" })
                    </div>
                    <div>
                        <br>
                        <label for="exampleSelectGender"><h5>Ingrese la empresa</h5></label>
                        @Html.DropDownListFor(m => m.Empresa, ViewBag.combo as List<SelectListItem>, new { @class = "form-control form-control-lg" })
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">REGISTRAR</button>
                        <span class="px-2"></span>
                        <a href="@Url.Action("ConsultaProveedores", "Proveedor")" class="btn btn-danger">
                            <i class="fa fa-arrow-left"></i> Volver
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

